<div class="modal fade" id="importModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importeer Leads</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="importForm" action="{{ url_for('leads.import_csv') }}" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">CSV Bestand</label>
                        <input type="file" class="form-control" name="file" accept=".csv" required>
                    </div>
                    <div class="mb-3">
                        <div class="form-text">
                            Het CSV bestand moet de volgende kolommen bevatten:
                            <ul>
                                <li>Name</li>
                                <li>Email</li>
                                <li>Instagram Username</li>
                                <li>Instagram URL</li>
                                <li>External URL</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                <button type="submit" form="importForm" class="btn btn-primary">Importeren</button>
            </div>
        </div>
    </div>
</div> 